name: Deploy to AWS EC2

on:
  push:
    branches: [ main, development ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd ~/Self-Actualization-Analysis-BE
          # Fetch latest changes
          git fetch origin
          # Checkout and pull the branch that triggered this workflow
          git checkout ${{ github.ref_name }}
          git pull origin ${{ github.ref_name }}
          
          npm install --production
          pm2 restart all
          pm2 save